n8n/workflows/dashboard-seo-trigger.json
{
  "name": "Dashboard SEO Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-seo-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dashboard-webhook",
      "name": "Dashboard Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "dashboard-seo-trigger-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Parse dashboard payload\nconst payload = $input.first().json;\n\n// Extract data from dashboard\nitem.site_name = payload.site_name || 'brightgift';\nitem.blog_slug = payload.blog_slug || 'blog-' + new Date().toISOString().split('T')[0];\nitem.topic = payload.topic || 'general';\nitem.current_phase = 'SEO';\nitem.agent_name = 'SEOAgent';\n\n// Get channel ID for SEO agent\nconst siteAgentChannels = {\n  'brightgift': {\n    'SEOAgent': 'C097J4EGEN9', // #brightgift-seo-agent\n    'BlogAgent': 'C0987CMJN1E', // #brightgift-blog-agent\n    'ReviewAgent': 'C097G9YCQT0', // #brightgift-review-agent\n    'ImageAgent': 'C0973KH68EB', // #brightgift-image-agent\n    'PublishingAgent': 'C097J4WA0LD' // #brightgift-publishing-agent\n  }\n};\n\nconst siteChannels = siteAgentChannels[item.site_name];\nif (!siteChannels) {\n  throw new Error(`Site '${item.site_name}' not configured`);\n}\n\nitem.channel_id = siteChannels[item.agent_name];\nif (!item.channel_id) {\n  throw new Error(`Agent '${item.agent_name}' not configured for site '${item.site_name}'`);\n}\n\n// Construct Cursor command with instruction review\nconst repoMapping = {\n  'brightgift': 'your-org/brightgift-content-system'\n};\n\nconst repo = repoMapping[item.site_name] || 'your-org/multi-agent-content-system';\n\nitem.slack_text = `@Cursor [repo=${repo}] review instructions from agents/seo/instructions.md and then execute the following task: run ${item.agent_name} for ${item.blog_slug} topic: ${item.topic} phase: ${item.current_phase} site: ${item.site_name}`;\n\nconsole.log(`Dashboard triggering SEO agent for ${item.blog_slug} on site ${item.site_name}`);\n\nreturn item;"
      },
      "id": "prepare-seo-command",
      "name": "Prepare SEO Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.slack_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-seo-channel",
      "name": "Send to SEO Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"SEO agent triggered from dashboard\",\n  \"site\": \"{{ $json.site_name }}\",\n  \"blog_slug\": \"{{ $json.blog_slug }}\",\n  \"topic\": \"{{ $json.topic }}\",\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"slack_command\": \"{{ $json.slack_text }}\"\n}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Dashboard Webhook": {
      "main": [
        [
          {
            "node": "Prepare SEO Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SEO Command": {
      "main": [
        [
          {
            "node": "Send to SEO Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to SEO Channel": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 