n8n/workflows/error-handling-workflow.json
{
  "name": "Error Handling Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Error Handler Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "error-handler-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "severity-check",
      "name": "Severity Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 CRITICAL ERROR: {{ $json.agent }} failed for {{ $json.postId }}\n\nError: {{ $json.error }}\n\nTime: {{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "critical-slack",
      "name": "Critical Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "⚠️ WARNING: {{ $json.agent }} encountered issue for {{ $json.postId }}\n\nError: {{ $json.error }}\n\nTime: {{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "warning-slack",
      "name": "Warning Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "error_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.postId }}",
            "agent": "={{ $json.agent }}",
            "error_message": "={{ $json.error }}",
            "severity": "={{ $json.severity }}",
            "timestamp": "={{ $json.timestamp }}",
            "context": "={{ $json.context }}"
          }
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Error handled successfully\",\n  \"logged\": true,\n  \"notified\": true\n}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Error Handler Webhook": {
      "main": [
        [
          {
            "node": "Severity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Check": {
      "main": [
        [
          {
            "node": "Critical Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warning Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Slack Alert": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warning Slack Alert": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 