n8n/workflows/publishing-approval-handler.json
{
  "name": "Publishing Approval Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publishing-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "publishing-approval-webhook",
      "name": "Publishing Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "publishing-approval-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse approval payload from dashboard\nconst payload = $input.first().json;\n\n// Initialize item object\nconst item = {};\n\n// Extract approval data\nitem.site_name = payload.site_name || 'brightgift';\nitem.blog_slug = payload.blog_slug;\nitem.topic = payload.topic || 'general';\nitem.current_phase = 'PUBLISHING';\nitem.agent_name = 'PublishingAgent';\nitem.approval_status = payload.approval_status || 'approved'; // approved/rejected\nitem.pr_number = payload.pr_number;\n\n// Validate required fields\nif (!item.blog_slug) {\n  throw new Error('Missing required field: blog_slug');\n}\n\n// Channel mapping for BrightGift\nconst siteAgentChannels = {\n  'brightgift': {\n    'PublishingAgent': 'C097J4WA0LD' // #brightgift-publishing-agent\n  }\n};\n\nconst siteChannels = siteAgentChannels[item.site_name];\nif (!siteChannels) {\n  throw new Error(`Site '${item.site_name}' not configured`);\n}\n\nitem.channel_id = siteChannels[item.agent_name];\nif (!item.channel_id) {\n  throw new Error(`Agent '${item.agent_name}' not configured for site '${item.site_name}'`);\n}\n\n// Repository mapping\nconst repoMapping = {\n  'brightgift': 'your-org/brightgift-content-system'\n};\n\nconst repo = repoMapping[item.site_name] || 'your-org/multi-agent-content-system';\n\n// Construct efficient Cursor command with approval context (no instruction review)\nitem.slack_text = `@Cursor [repo=${repo}] run ${item.agent_name} for ${item.blog_slug} topic: ${item.topic} phase: ${item.current_phase} site: ${item.site_name} approval_status: ${item.approval_status} pr_number: ${item.pr_number}`;\n\nconsole.log(`Publishing approval triggered for ${item.blog_slug} with status: ${item.approval_status}`);\n\nreturn item;"
      },
      "id": "prepare-publishing-command",
      "name": "Prepare Publishing Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "postMessage",
        "channelId": "={{ $json.channel_id }}",
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "id": "send-to-publishing-channel",
      "name": "Send to #brightgift-publishing-agent",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "BrightGift Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Publishing agent triggered after approval\",\n  \"site\": \"{{ $json.site_name }}\",\n  \"blog_slug\": \"{{ $json.blog_slug }}\",\n  \"approval_status\": \"{{ $json.approval_status }}\",\n  \"pr_number\": \"{{ $json.pr_number }}\",\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"slack_command\": \"{{ $json.slack_text }}\"\n}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Publishing Approval Webhook": {
      "main": [
        [
          {
            "node": "Prepare Publishing Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publishing Command": {
      "main": [
        [
          {
            "node": "Send to #brightgift-publishing-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to #brightgift-publishing-agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
} 